@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  box-sizing: border-box;
  transition: .5s;
}

nav.black {
  background: rgba(0, 0, 0, 0.8);
  height: 80px;
  padding: 10px 50px;
}

nav .logo {
  float: left;
  margin-top: 0;
}

nav .logo img {
  height: 150px;
  padding: 0 5px;
  transition: .5s;
}

nav.black .logo img {
  height: 120px;
  padding-bottom: 10px;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  cursor: pointer;
}

nav.black ul li a {
  color: #fff;
}

nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  background: #a1a1a1;
}

/****--------------------slide show----------------*****/
* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  padding-top: 150px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/****----------------------3 cards---------------------****/
.column {
  float: left;
  width: 25%;
  padding: 50px 210px;
  align-items: center;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  position: absolute;
  background-color: #9ab5e1;
  background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
  cursor: pointer;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  position: absolute;
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
  cursor: pointer;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  position: absolute;
  background-color: #e288f9;
  background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
  cursor: pointer;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
}

.main-container {
  width: 90vw;
  margin: 200px auto;
  padding: 40px 0;
}

.main-container h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}

.category-head {
  margin: 30px 0;
}

.category-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background-color: #cdc1ff;
background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
  padding: 12px;
  color: #000;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.category-title:hover {
  opacity: 0.7;
}

.category-title li {
  padding: 0 10px;
}

.category-title span {
  color: #222;
}

.Doctor-list {
  margin: 80px 100px;
  padding: 40px 400px 40px 80px;
}

.doct-main-container {
  border: 2px solid #fff;
  border-radius: 35%;
  padding: 50px 150px 40px 40px;
  margin: 20px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Clear floats after containers */
.doct-main-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.doct-main-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 120px;
  height: 140px;
}

/* Increase the font-size of a span element */
.doct-main-container p {
  font-size: 20px;
  margin-right: 15px;
}

.doct-main-container:hover {
  color: #000080;
  background-color: #b1ade2;
background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  transition:all 0.4s ease;
}
.doct-main-container .fas-fa-landmark{
  float:right;
  margin-left: 20px;
}
.wishlist{
  display: inline-block;
  margin-left: 20px;
  border: 2px solid #fff;

  justify-content: center;
  text-align: center;
  cursor: pointer;
  
}
.wishlist span{
  display:block;
}
.wishlist:hover{
  color:#000;
  transition: 0.5s;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .doct-main-container {
    text-align: center;
  }

  .doct img {
    margin: auto;
    float: none;
    display: block;
  }
}
